:root {
  --primary-color: #0073b1;
  --primary-hover-color: #005f8d;
  --primary-active-color: #006a99;
  --disabled-color: #a3c3d9;
  --light-bg-color: #fff;
  --dark-bg-color: #333;
  --light-text-color: #333;
  --dark-text-color: #ddd;
  --secondary-light-bg-color: #eee;
  --secondary-light-hover-color: #ddd;
  --secondary-dark-bg-color: #666;
  --secondary-dark-hover-color: #555;
  --input-border-color: #ccc;
  --input-disabled-bg-color: #f0f0f0;
  --input-disabled-border-color: #f0f0f0;
  --input-disabled-text-color: #999;
  --input-dark-bg-color: #444;
  --input-dark-border-color: #555;
  --input-dark-disabled-bg-color: #555;
  --input-dark-disabled-text-color: #aaa;
}

body {
  background-color: var(--light-bg-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}

.tablinks {
  background-color: var(--secondary-light-bg-color);
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  flex: 1;
  text-align: center;
  cursor: pointer;
  box-shadow: inset -2px -2px 4px 4px rgba(0, 0, 0, 0.2);
}

.tablinks:hover {
  background-color: var(--secondary-light-hover-color);
}

.tablinks.active {
  background-color: var(--light-bg-color);
  cursor: default;
  box-shadow: none;
}

.tabcontent {
  display: block;
  border-top: none;
}

.signatureText #signature {
  background-color: var(--input-disabled-bg-color);
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  color: var(--light-text-color);
  font-family: inherit;
  font-size: 14px;
  height: 150px;
  margin-bottom: 15px;
  max-height: 400px;
  max-width: 400px;
  min-height: 100px;
  min-width: 250px;
  outline: 2px solid var(--primary-color);
  padding: 10px;
  transition: background-color 0.3s, color 0.3s, border 0.3s, outline 0.3s;
  width: 250px;
}

.signatureText #signature:focus {
  background-color: var(--light-bg-color);
  border: 1px solid var(--primary-hover-color);
  color: #000;
  outline: 2px solid var(--primary-hover-color);
}

.signatureText #signature:disabled {
  background-color: var(--input-disabled-bg-color);
  border: 1px solid var(--input-disabled-border-color);
  color: var(--input-disabled-text-color);
  cursor: not-allowed;
  outline: none;
}

.enableCheck {
  align-items: center;
  color: var(--light-text-color);
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
}

.enableCheck input {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--light-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.enableCheck input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.enableCheck input:checked::before {
  content: '\2714';
  color: var(--light-bg-color);
  font-size: 14px;
  line-height: 1;
}

.enableCheck input:hover {
  border-color: var(--primary-hover-color);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonContainer button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: var(--light-bg-color);
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  margin: 0 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.buttonContainer button:hover {
  background-color: var(--primary-hover-color);
}

.buttonContainer button:active {
  background-color: var(--primary-active-color);
}

.buttonContainer button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    color: var(--dark-text-color);
  }

  .tablinks {
    background-color: var(--secondary-dark-bg-color);
    color: var(--dark-text-color);
    box-shadow: inset -2px -2px 4px 4px rgba(0, 0, 0, 0.4);
  }

  .tablinks:hover {
    background-color: var(--secondary-dark-hover-color);
  }

  .tablinks.active {
    background-color: var(--dark-bg-color);
  }

  .tabcontent {
    color: var(--dark-text-color);
  }

  .signatureText #signature {
    background-color: var(--input-dark-bg-color);
    border: 1px solid var(--input-dark-border-color);
    color: var(--dark-text-color);
  }

  .signatureText #signature:focus {
    background-color: var(--input-dark-bg-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    outline: 2px solid var(--primary-color);
  }

  .signatureText #signature:disabled {
    background-color: var(--input-dark-disabled-bg-color);
    border: 1px solid var(--input-dark-border-color);
    color: var(--input-dark-disabled-text-color);
  }

  .enableCheck {
    color: var(--dark-text-color);
  }

  .enableCheck input {
    background-color: var(--input-dark-bg-color);
    border: 1px solid var(--input-dark-border-color);
  }

  .enableCheck input:hover {
    border-color: var(--primary-color);
  }

  .buttonContainer button {
    background-color: var(--primary-hover-color);
  }

  .buttonContainer button:hover {
    background-color: var(--primary-color);
  }

  .buttonContainer button:active {
    background-color: var(--primary-active-color);
  }

  .buttonContainer button:disabled {
    background-color: var(--input-dark-disabled-bg-color);
    color: var(--input-dark-disabled-text-color);
  }
}
